@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrong {
  color: red;
}

.correct {
  color: greenyellow;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(28, 26, 26);
  color: rgb(235, 234, 234);
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: large;
}

.word-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  textarea {
    color: transparent;
    resize: none;
    caret-color: rgb(242, 88, 88);
    font-size: large;
    font-weight: 300;
    font-family: "Source Code Pro", monospace;
    position: absolute;
    z-index: 2;
    width: 1080px;
    height: 150px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  ul {
    width: 1080px;
    height: 150px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
}
